html.page.about {
  // nav overriding
  .navbar {
    &>.container-fluid .navbar-brand {
      .svg_logo_ridi(@white);
    }
    @media only screen and (min-width: 768px) {
      .nav {
        li {
          a {
            color: @white;
          }
        }
      }
    }
  }
  .navbar-default {
    .navbar-toggle {
      .icon-bar {
        background-color: @white;
      }
      &:hover, &:focus {
        background-color: @deep-blue;
      }
    }
  }
  // orerriding end

  .intro-header {
    .ih-about {
      background-color: @ultra-blue;
      padding: 260px 0 250px;
      @media @queries_sm {
        padding: 200px 0;
      }
    }

    .about-sub-area .sub-heading {
      color: @white;
    }
  }

  .philosophy-area {
    background: @white;
    padding: 150px 0 130px;
    }

    .philosophy-main {
      font-family: @Calibre;
      font-weight: 600;
      font-size: 54px;
      text-align: left;
      line-height: 1.4em;
      letter-spacing: -0.03em;
      color: @jet-black;
      padding-bottom: 8px;
      margin: 0;
      z-index: 3; 
      @media @queries_sm {
        font-size: 44px;
        font-weight: 1.2em;
      }
    }

    .philosophy-dsc {
      font-size: 24px;
      color: @slategray-80;
      line-height: 1.6em;
      word-break: keep-all;
      @media @queries_sm {
        font-size: 20px;
      }
    }
  }

  .ridi-code-area {
    background: @thin-blue;
    padding: 140px 0;

    @media @queries_sm {
      padding: 80px 0;
    }

    .ridi-code-wrap {
      margin-top: 80px;
      li {
        margin-top: 120px;
        div { 
          word-break: keep-all;
          .code-caption {
            font-family: @Calibre;
            font-weight: 600;
            letter-spacing: -0.03em;
            font-size: 24px;
            color: @ultra-blue;
            @media @queries_sm {
              font-size: 18px;
            }
          }
          h3 {
            font-family: @Acumin;
            font-size: 36px;
            font-weight: 700;
            line-height: 1.4em;
            color: @slategray-90;
            margin: 8px 0 4px 0;
            @media @queries_sm {
              font-size: 24px;
            }
          }
          p {
            font-size: 24px;
            line-height: 1.6em;
            color: @slategray-80;
            @media @queries_sm {
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  .products-area {
    padding: 140px 0 60px;

    @media @queries_sm {
      padding: 80px 0;
    }

    .products {
      margin-top: 50px;
      li {
        overflow: hidden;
        figure {
          margin: 0 0 100px 0;
          img {
            float: left;
            display: block;
            margin: 0 auto;
            width: 50%;
            border-radius: 6px;
            @media @queries_sm {
              margin-bottom: 16px;
              float: none;
              width: 100%;
            }
          }
          figcaption{
            float: right;
            display: block;
            width: 46%;
            @media @queries_sm {
              float: none;
              width: 100%;
              margin-bottom: 100px;
            }
            strong {
              display: block;
              font-size: 22px;
              font-weight: 700;
              color: @slategray-90;
              padding: 16px 0 12px;
              @media @queries_md {
                font-size: 18px;
              }
            }

            .logo-ridibooks {
              .svg_logo_ridibooks(@slategray-90);
              width: 200px;
              height: auto;
            }

            .logo-ridiselect {
              .svg_logo_ridiselect(@slategray-90);
              width: 200px;
              height: auto;
            }

            .logo-paper {
              .svg_logo_paper(@slategray-90);
              width: 200px;
              height: auto;
            }

            .logo-laftel {
              .svg_logo_laftel(@slategray-90);
              width: 130px;
              height: 32px;
            }

            .logo-outstanding {
              .svg_logo_outstanding(@slategray-90);
              width: 150px;
              height: 32px;
            }
            .dog-ear {
              font-size: 36px;
              font-weight: 800;
              color: @slategray-90;
              padding: 0;
              img {
                float: none;
                display: inline;
                width: 40px;
                height: 40px;
                margin: -4px 0 0 12px;
                border-radius: 0;
              }
            }

            span {
              display: block;
              padding: 16px 0 20px;
              font-size: 24px;
              color: @slategray-80;
              font-weight: 400;
              letter-spacing: -0.03em;
              word-break: keep-all;
              @media @queries_smmd {
                font-size: 20px;
              }
            }

            .text-link {
              display: inline-block;
              margin-top: 16px;
              font-size: 24px;
              color: @ultra-blue;
              font-weight: 700;
              -webkit-transition: color 0.3s;
              -moz-transition: color 0.3s;
              transition: color 0.3s;
              @media @queries_smmd {
                font-size: 18px;
                margin-top: 24px;
              }
              .arrow-link {
                .svg_arrow(@ultra-blue);
                width: 24px;
                height: 24px;
                margin-top: -3px;
                transform: rotate(-90deg);
                transition: transform 0.3s;
                @media @queries_smmd {
                  width: 18px;
                  height: 18px;
                  margin-top: -2px;
                }
              }
              &:hover {
                color: @deep-blue;
                &>.arrow-link {
                  .svg_arrow(@deep-blue);
                  transform: translateX(8px) rotate(-90deg);
                }
              }
            }
            .icon-links {
              margin-top: 24px;
              a {                
                float: left;
                margin-right: 32px;
                img {
                  width: auto;
                  height: 36px;
                  @media @queries_smmd {
                    height: 30px;
                  }
                }
              }
              @media @queries_smmd {
                margin-top: 24px;
              }
            }
          }
        }
      }
    }
  }

  .branding-link-area {
    width: 768px;
    margin: 0 auto 0;

    @media @queries_sm {
      width: auto;
    }

    .go-to-branding {
      .button-blue();

      margin-top: 20px;
    }
  }