html.page.contact {
  .intro-header {
    &.ih-contact {
      padding: 240px 0 200px;
      max-width: 1160px;
      margin: auto;
    }

    .site-heading,
    .page-heading {
      &.contact-heading {
        h1 {
          color: @jet-black;
        }
      }
    }
  }
  .ridi-map {
    display: block;
    img {
      width: 100%;
    }
  }
  .how-to-contact {
    margin: 80px auto 160px;
    .info-item {
      margin-bottom: 80px;
      height: 100px;
      .info-title {
        display: block;
        width: 30%;
        float: left;
        font-size: 28px;
        font-weight: 700;
        color: @slategray-90;
        @media @queries_sm {
          font-size: 24px;
          float: none;
        }
      }
      .info-dsc {
        display: block;
        float: right;
        width: 65%;
        margin-top: 6px;
        font-size: 24px;
        line-height: 1.4em;
        color: @slategray-70;
        @media @queries_smmd {
          margin-top: 2px;
          font-size: 20px;
        }
        @media @queries_sm {
          float: none;
          width: 100%;
        }
      }
    }
  }

}
