// Icon 

@font-face {
	font-family: 'ridicorp-icon';
	src:url('../fonts/ridicorp-icon.eot?-t5rjbu');
	src:url('../fonts/ridicorp-icon.eot?#iefix-t5rjbu') format('embedded-opentype'),
		url('../fonts/ridicorp-icon.woff?-t5rjbu') format('woff'),
		url('../fonts/ridicorp-icon.ttf?-t5rjbu') format('truetype'),
		url('../fonts/ridicorp-icon.svg?-t5rjbu#ridicorp-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'ridicorp-icon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: -10%;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
	content: "\e608";
}

.icon-direct-right:before {
	content: "\e600";
}

.icon-mail:before {
	content: "\e601";
}

.icon-pin:before {
	content: "\e602";
}

.icon-telephone:before {
	content: "\e603";
}

.icon-num-1:before {
	content: "\e604";
}

.icon-num-2:before {
	content: "\e605";
}

.icon-num-3:before {
	content: "\e606";
}

.icon-num-4:before {
	content: "\e607";
}
