@import "variables.less";
@import "mixins.less";
@import "icon.less";

// Global Components

* {
	margin: 0;
	padding: 0;
}

body {
	.sans-serif;
	font-size: 16px;
	color: #555;
	letter-spacing: -0.01em;
}

.clear-md {
	@media @queries_sm {
		display: none;
	}
	@media @queries_md {
		display: none;
	}
}

p a {
	color: #000;
	border-bottom: 2px solid #ccc;
	.transition();
}
p a:hover {
	color: #0282da;
	border-color: #0282da;
	
}
a:hover, a:active, a:focus {
	text-decoration: none;
}

ul, ol {
	list-style: none;

}

::selection {
	background: #ccc;
}

// Navigation

.navbar-custom {
	.brandon-grotesque();
	background: white;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;

	.navbar-brand {
		font-weight: 900;
		text-transform: uppercase;
		letter-spacing: 0.3em;
		font-size: 0.8em;
	}
	.nav {
		li {
			a {
				text-transform: uppercase;
				font-size: 12px;
				font-weight: 800;
				letter-spacing: 1px;
			}
		}
	}
	@media only screen and (min-width: 768px) {
		background: transparent;
		border-bottom: 1px solid transparent;
		.navbar-brand {
			color: white;
			padding: 20px;
			&:hover,
			&:focus {
				color: @white-faded;
			}
		}
		.nav {
			li {
				a {
					color: white;
					padding: 20px;
					&:hover,
					&:focus {
						color: @white-faded;
					}
				}
			}
		}
	}
	@media only screen and (min-width: 1170px) {
		-webkit-transition: background-color 0.3s;
		-moz-transition: background-color 0.3s;
		transition: background-color 0.3s;
		/* Force Hardware Acceleration in WebKit */
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		&.is-fixed {
			/* when the user scrolls down, we hide the header right above the viewport */
			position: fixed;
			top: -61px;
			background-color: fade(white, 90%);
			border-bottom: 1px solid darken(white, 5%);
			-webkit-transition: -webkit-transform 0.3s;
			-moz-transition: -moz-transform 0.3s;
			transition: transform 0.3s;
			.navbar-brand {
				color: @gray-dark;
				&:hover,
				&:focus {
					color: @brand-primary;
				}
			}
			.nav {
				li {
					a {
						color: @gray-dark;
						&:hover,
						&:focus {
							color: @brand-primary;
						}
					}
				}
			}
		}
		&.is-visible {
			/* if the user changes the scrolling direction, we show the header */
			-webkit-transform: translate3d(0, 100%, 0);
			-moz-transform: translate3d(0, 100%, 0);
			-ms-transform: translate3d(0, 100%, 0);
			-o-transform: translate3d(0, 100%, 0);
			transform: translate3d(0, 100%, 0);
		}
	}
}

// Header

.intro-header {
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #333;
	margin-bottom: 70px;

	&.post-header {
		background-position: center center;
		.background-cover();
	}

	&.ih-about {
		background-color: #30356e;
		background-image: url(../img/about-bg.png);
		.drop-shadow();
	}
	&.ih-career {
		background-color: #0a1b39;
		background-image: url(../img/career-bg.png);
		.drop-shadow();
	}
	&.ih-contact {
		background-color: #111111;
		margin-bottom: 0;
		padding-bottom: 200px;
	}

	.site-heading,
	.page-heading {
		text-align: center;
		padding: 150px 0 200px;
		h1 {
			font-family: "ff-market-web", cursive;
			margin-top: 0;
			font-size: 12em;
			color: #fff;
			line-height: 0.9;
			.text-shadow();
			&.oneline {
				padding-top: 100px;
			}
			@media @queries_md {
				font-size: 8em;
			}
			@media @queries_sm {
				font-size: 5em;
			}
		}

		&.career-heading {
			padding-bottom: 80px;
		}
		&.contact-heading {
			h1 {
				color: @bright-orange;	
			}
			padding-bottom: 20px;
		}

	}
	.sub-heading {
		display: inline-block;
		font-size: 3em;
		font-weight: 800;
		letter-spacing: -0.03em;
		color: #fff;
		position: relative;
		padding-bottom: 8px;
		margin-bottom: 30px;
		.text-shadow();

		&:after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 4px;
			background: #fff;
			.border-radius();
			.drop-shadow();
		}
	}
	.sub-description {
		padding-bottom: 70px;
		font-size: 1.2em;
		line-height: 1.5;
		letter-spacing: -0.03em;
		&.sd-about {
			color: #78caf3;
		}
		&.sd-career {
			color: #15668e;
		}
	}

	// Career Header
	.career-sub-area {
		background: #78caf3;
		padding-top: 50px;
	}

	// Contact Header
	.contact-buttons {
		text-align: center;
		a {
			.button();
		}
		.view-map {
			.button-orange();
			margin-right: 20px;
		}
		.other-button {
			.button-gray();
			&.first {
				border-radius: 4px 0 0 4px;
				border-right: 2px solid #3a3a3a;
			}
			&:last-child {
				border-radius: 0 4px 4px 0;
			}
		}
	}
}

// Job Quick Links
.job-quick-links {
	text-align: center;
	margin-bottom: 150px;
	.brandon-grotesque();

	.wrapper {
		display: inline-block;
		background: #061124;
		border: 2px solid #78caf3;
		padding: 0 10px;
		.border-radius();
	}
	strong {
		display: inline-block;
		text-transform: uppercase;
		font-size: 0.95em;
		letter-spacing: 0.2em;
		font-weight: 700;
		color: #78caf3;
		padding: 10px;
	}
	a {
		display: inline-block;
		color: #fff;
		font-size: 1.2em;
		padding: 15px;
		.transition();
		&:hover {
			background: #0e2141;
			color: #78caf3;
		}
	}
	.icon-direct-right {
		color: #42738e;
	}
}

// Contents

.site-content h3 {
	display: inline-block;
	font-size: 2.4em;
	color: @base-gray;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 20px;
	.brandon-grotesque();

	&:after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 4px;
		background: @base-gray;
		.border-radius();
	}
}


// How We Work
.how-we-work-area {
	padding-bottom: 40px;
}
.how-we-work {
	counter-reset: hww-counter;
	list-style-type: none;
	padding-top: 250px;
	padding-left: 0;
	width: 960px;
	margin: 0 auto;

	li {
		border-bottom: 2px solid @bright-red;
		padding-bottom: 30px;
		padding-left: 0;
		margin-bottom: 50px;
		position: relative;
		counter-increment: hww-counter;
		color: @base-gray;
		margin-top: 140px;	

		&:before {
			content: "0" counter(hww-counter);
			position: absolute;
			z-index: 1;
			left: -0.7em;
			top: -0.8em;
			color: @bright-red;
			font-size: 6em;
			font-weight: 100;
			.brandon-grotesque();
		}

		h4 {
			font-size: 4em;
			font-weight: 100;
			letter-spacing: -0.03em;
			padding-bottom: 20px;
			margin-left: -0.1em;
			background: #fff;
			position: relative;
			z-index: 2;
		}
		&.hww-1 {
			margin-top: 0;
		}
		&.hww-2, &.hww-4 {
			float: right;
		}


		p {
			letter-spacing: -0.02em;
			margin: 0 0 20px;
			font-size: 1.125em;
			font-weight: 300;
		}
		.hww-icon {
			position: absolute;
			background-repeat: no-repeat;
			width: 172px;
			height: 172px;
			z-index: 3;

			&.hwwi-1 {
				background-image: url(../img/icon-howwework-1.png);
				left: 70px;
				top: -190px;
			}
			&.hwwi-2 {
				background-image: url(../img/icon-howwework-1.png);
				right: 10px;
				top: -170px;
			}
			&.hwwi-3 {
				background-image: url(../img/icon-howwework-1.png);
				left: -180px;
				top: 50px;
			}
			&.hwwi-4 {
				background-image: url(../img/icon-howwework-1.png);
				right: 10px;
				top: -100px;
			}
			&.hwwi-5 {
				background-image: url(../img/icon-howwework-1.png);
				right: 10px;
				top: -140px;
			}
		}
	}
}


// Benefit
.benefit-area {
	background: #f3f3f5;
	padding: 50px 0;

	.benefit-content {
		width: 960px;
		margin: 30px auto 0;
		.clear();
		h4 {
			float: left;
			width: 170px;
			.brandon-grotesque();
			font-weight: 800;
			text-transform: uppercase;
			font-size: 0.9em;
			color: #2763a9;
			letter-spacing: 0.1em;
			margin: 0;
		}
		.bc-box {
			margin-left: 170px;
			padding-bottom: 15px;
			.bf-icon {
				float: left;
				width: 60px;
				height: 60px;
				margin-top: -10px;
				background-repeat: no-repeat;
				&.bfi-1 {
					background-image: url(../img/icon-benefit-1.png);
				}
				&.bfi-2 {
					background-image: url(../img/icon-benefit-1.png);
				}
				&.bfi-3 {
					background-image: url(../img/icon-benefit-1.png);
				}
				&.bfi-4 {
					background-image: url(../img/icon-benefit-1.png);
				}
				&.bfi-5 {
					background-image: url(../img/icon-benefit-1.png);
				}
				&.bfi-6 {
					background-image: url(../img/icon-benefit-1.png);
				}
			}
			h5 {
				font-weight: 700;
				margin-left: 80px;
				font-size: 1em;
			}
			p {
				line-height: 1.5;
				margin-left: 80px;
			}
		}
	}
}


// Job Openings
.job-openings-area {
	background: #30356e;
	padding: 50px 0;

	h3 {
		color: #fff;
		margin-bottom: 10px;
		&:after {
			background: #fff;
		}
	}
	h4 {
		color: #78caf3;
	}

	.jobs {
		width: 800px;
		margin: 50px auto 0;

		.jobs-item {
			background: #282c5c;
			.border-radius();
			padding: 20px 20px 20px 40px;
			margin-bottom: 10px;
			box-sizing: border-box;
			
			.ji-left {
				float: left;
			}
			strong {
				display: block;
				font-size: 1.75em;
				.brandon-grotesque();
				color: #fff;
				font-weight: 300;
			}
			span {
				display: block;
				color: #78caf3;
				font-size: 0.75em;
			}
			.apply {
				.button-skyblue();
				.brandon-grotesque();
				letter-spacing: 0.1em;
				font-size: 0.8em;
				text-transform: uppercase;
				float: right;
			}
		}
	}

}

// Contact 
.how-to-contact {
	background: #000;
	padding: 50px 0;

	.container {
		width: 960px;
		margin: 0 auto;
	}

	.htc-left {
		width: 30%;
		float: left;
	}
	.htc-right {
		width: 70%;
		float: left;
	}

	h2 {
		color: @bright-orange;
		padding-bottom: 10px;
		font-size: 1em;
		margin-bottom: 0;
	}
	h3 {
		font-size: 1.25em;
		line-height: 1.5;
		color: #dadada;
		font-weight: 500;
	}
	p {
		color: #919191;
		line-height: 1.4;
		&.steps {
			text-indent: -1.2em;
			padding-left: 1.2em;
		}
	}
	.contact-point {
		color: #dadada;
		font-size: 1.1em;
		padding-top: 10px;
		li {
			padding: 3px 0;	
		}
	}
	.hr-box {
		float: left;
		width: 50%;
		padding-right: 5%;
	}

}

// Post 
.post-heading {
	padding: 100px 0;
	h1 {
		font-size: 4em;
		color: #fff;
		.brandon-grotesque();
		font-weight: 500;
		.text-shadow();
	}
	h2 {
		font-size: 1.2em;
		color: #fff;
		font-weight: 300;
		.text-shadow();
	}
}
article {
	h3 {
		font-size: 1.5em;
		color: #999;
		padding-bottom: 10px;
		font-weight: 200;
		letter-spacing: -0.03em;
	}
	p {
		font-size: 1.125em;
		line-height: 1.5;
		padding-top: 15px;
	}
	hr {
		width: 100px;
		border-top: 1px solid #ccc;
		margin: 60px auto 30px;
	}
	ul {
		padding-left: 1.5em;
		line-height: 1.6;
		li {
			position: relative;
		}
		li:before {
			color: #aaa;
			content: "•";
			display: block;
			position: relative;
			max-width: 0px;
			max-height: 0px;
			left: -16px;
			top: 1px;
			font-size: 0.9em;			
		}
	}
	img {
		position: relative;
		display: block;
	}
	figcaption {
		text-align: center;
		font-size: 0.8em;
		color: #aaa;
		padding: 0 0 10px;
	}
	.btn-apply {
		margin: 30px 0 20px;
		.button-navy();
		i {
			color: #5796bc;
		}
		&:hover i {
			color: #78caf3;
		}
	}
	.apply-area {
		strong {
			color: #555;
			.brandon-grotesque();
			font-size: 1.75em;
			font-weight: 300;
		}
		span {
			color: #999;
			font-size: 0.75em;
		}
	}
}
.post-preview {
	h2 {
		color: #333;
		.brandon-grotesque();
	}
	h3 {
		font-size: 0.8em;
		color: #999;
		margin-top: 0;
	}
	.post-meta {
		color: #999;
	}
}


// Footer 
.copyright {
	padding: 40px 0;
}