<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <meta name="ROBOTS" content="ALL"/>
    <meta name="description" content="RIDI Corporation"/>
    <meta name="keywords" content="리디북스 RidiBooks 리디샵 RidiShop 리디 리디주식회사 ridicorp ridi"/>
    <meta name="format-detection" content="telephone=no">
    <meta property="og:image" content="{% if page.fb-img %}{{ site.url }}/{{ page.fb-img }}{% endif %}" />
    <meta property="og:description" content="{% if page.description %}{{ page.subtitle }} - {{ page.description }}{% endif %}" />

    <title>{% if page.title %}{{ page.title | strip_html }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    
    <!-- Icon -->
    <link rel="shortcut icon" href="//static.ridibooks.com/books/images/favicon/ridibooks.ico" />

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/style.css?20160119" | prepend: site.baseurl }}">

    <link rel="stylesheet" href="{{ "/css/custom-animation.css" | prepend: site.baseurl }}">    

    <!-- Pygments Github CSS -->
    <link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <script src="//use.typekit.net/fhc5rmd.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <!-- jQuery -->
    <script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/clean-blog.min.js" | prepend: site.baseurl }}"></script>

    <!-- Animate Scroll -->
    <script src="{{ "/js/animatescroll.min.js" | prepend: site.baseurl }}"></script>

    <!-- Unveil -->
    <script src="{{ "/js/jquery.unveilEffects.js" | prepend: site.baseurl }}"></script>

    <!-- Google Maps -->
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?sensor=false">
    </script>
    <script src="{{ "/js/maps.js" | prepend: site.baseurl }}"></script>

    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-10567409-3', 'auto');
    ga('send', 'pageview');
   </script>

</head>
