<head itemscope itemtype="http://schema.org/WebSite">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <meta name="ROBOTS" content="ALL"/>
  <meta name="description" content="리디북스 서비스 제공 기업. 회사 소개 및 채용정보를 제공합니다."/>
  <meta name="keywords" content="리디북스 RidiBooks 리디 리디주식회사 ridicorp ridi"/>
  <meta name="format-detection" content="telephone=no">
  <meta property="og:app_id" content="208688205808637" />
  <meta property="og:title" content="{{ page.title | strip_html }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="http://www.ridicorp.com{{ page.url | replace:'index.html','' | prepend: site.baseurl }}" />

  {% if page.published == true %}
  <meta property="og:image" content="{{ site.url }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}" />
  {% if page.ridibatang == true %}
  <meta property="og:image" content="{{ site.url }}/assets/img/og-ridibatang.jpg" />
  <meta property="og:description" content="더 선명하고, 긴 문장도 잘 읽을 수 있는 전자책 전용 글꼴 리디바탕을 소개합니다." />
  {% else %}
  <meta property="og:image" content="{% if page.fb-img %}{{ site.url }}/{{ page.fb-img }}{% else %}{{ site.url}}/assets/img/fb-img-ridicorp.png{% endif %}" />
  {% endif %}

  <meta property="og:description" content="{% if page.description %}{{ page.subtitle }} - {{ page.description }}{% endif %}" />

  <title itemprop="name">
    {% if page.title == "About" %}
    {{ site.title }}
    {% else %}
    {{ page.title | strip_html }} - {{ site.title }}
    {% endif %}</title>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" itemprop="url">

  <!-- Icon -->
  <link rel="shortcut icon" href="//static.ridibooks.com/books/dist/favicon/ridibooks.ico" />

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/bootstrap.min.css" | prepend: site.baseurl }}">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/base.css?" | prepend: site.baseurl }}{{ site.time | date: '%s' }}">

  <link rel="stylesheet" href="{{ "/assets/css/custom-animation.css" | prepend: site.baseurl }}">

  <!-- Pygments Github CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/syntax.css" | prepend: site.baseurl }}">

  <!-- Custom Fonts -->
  <script src="//use.typekit.net/fhc5rmd.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  <!-- jQuery -->
  <script src="{{ "/assets/js/jquery.min.js" | prepend: site.baseurl }}"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

  <!-- Animate Scroll -->
  <script src="{{ "/assets/js/animatescroll.min.js" | prepend: site.baseurl }}"></script>

  <!-- Unveil -->
  <script src="{{ "/assets/js/jquery.unveilEffects.js" | prepend: site.baseurl }}"></script>

  <!-- Image Zoom -->
  <script src="{{ "/assets/js/zoom.min.js" | prepend: site.baseurl }}"></script>

  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ site.google_analytics.ua }}', 'auto');
    ga('send', 'pageview');
  </script>

</head>
