<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <meta name="description" content="{{ site.description }}">

    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">

    <link rel="stylesheet" href="{{ "/css/custom-animation.css" | prepend: site.baseurl }}">    

    <!-- Pygments Github CSS -->
    <link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <script src="//use.typekit.net/fhc5rmd.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <!-- jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/clean-blog.min.js " | prepend: site.baseurl }}"></script>

<!-- Animate Scroll -->
<script src="{{ "/js/animatescroll.min.js " | prepend: site.baseurl }}"></script>

<!-- Unveil -->
<script src="{{ "/js/jquery.unveilEffects.js " | prepend: site.baseurl }}"></script>

</head>
