/*
 * Author: Carlos Alvarez
 * URL: http://alvarez.is
 *
 * Project Name: Landing Sumo - Theme 14
 * URL: http://LandingSumo.com
 * Version: 1.0
 */

/*	################################################################
	1. GENERAL STRUCTURES
################################################################# */

/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

* { 
	margin: 0;
	padding: 0px;
    font-family: 'Lato', sans-serif;
} 
body { 
	background: #fff; 
	margin: 0; 
	color: #5a5a5a;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
	font-weight: 300;
}


p { 
	padding: 0; 
	margin-bottom: 12px; 
    font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 16px; 
	line-height: 28px;
	color: #8b8b8b; 
	margin-top: 10px; 
}

html,
body {
	height: 100%;
}

.alignleft { float: left; }
.alignright { float: right; }
.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}
.centered {text-align: center}
.mt {margin-top: 50px;}
.mb {margin-bottom: 50px;}
.mtb {margin-top: 50px; margin-bottom: 50px;}
.mtb2 { margin-top: 100px; margin-bottom: 100px;}
.ptb {padding-top: 80px; padding-bottom: 80px;}

.clear {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width:100%;
}
::-moz-selection  {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
::selection {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a { 
	padding: 0;
	margin: 0;
	text-decoration: none; 
	-webkit-transition: background-color .2s linear, color .2s linear;
	-moz-transition: background-color .2s linear, color .2s linear;
	-o-transition: background-color .2s linear, color .2s linear;
	-ms-transition: background-color .2s linear, color .2s linear;
	transition: background-color .2s linear, color .2s linear;
	color: #1abc9c;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#696E74;
}

/* Bootstrap Modification */

.navbar-inverse {
	/*background: #2f2f2f;
	border-color: #2f2f2f;*/
	position: absolute;
	width: 100%;
	background: transparent;	
	border: 0 none;
}

.navbar-right {
	padding-top: 10px;
}

.navbar-brand {
	margin-top: 5px;
	height: auto;
	padding: 10px 15px;
}

.navbar-brand > img {
	width: 140px;
	-webkit-transition: all .2s;
}

@media (min-width: 768px) {
	.navbar-brand {
		padding: 15px;
	}
	.navbar-brand > img {
		width: 195px;
	}	
}

.navbar-nav {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: -.01em;
}

.navbar {
	padding-bottom: 2px;
	/*position: absolute;*/
}

.navbar .navbar-nav > li > a {
	color: rgba(255,255,255,.5);
}

.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus {
	color: #fff;
	background-color: transparent;
}
.navbar .navbar-nav > li > a:hover { /* TBD */
	color: #fff;
	background-color: transparent;
}

/* FORM CONFIGURATION */

input {
	font-size: 16px;
	min-height: 40px;
	border-radius: 2px;
	line-height: 20px;
	padding: 16px 30px 18px;
	border: 1px solid #b9b9af;
	margin-bottom: 10px;
	background-color: #fff;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.subscribe-input {
	float: left;
	width: 70%;
	text-align: left;
	margin-right: 2px;
}

.subscribe-submit {
	right: 0;
	padding: 15px 20px 17px;
}



/* General Configuration */
h1 {
	text-transform: uppercase;
	font-weight: 800;
}

h4 {
	font-size: 16px;
	letter-spacing: -.01em;
	line-height: 1.5;
	color: #a0a0a0;
}

h5 {
	font-weight: 400;
}

i {
	font-size: 50px;
}

/* HEADER SECTION */
#h {
	background: url(../img/ridi/tablet.jpg) no-repeat center top;
	padding-top: 230px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 700px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#h h1 {
	color: white;
	font-size: 64px;
	font-weight: 900;
	letter-spacing: -0.03em;
}

#h h2 {
	color: white;
	font-weight: 100;
	font-size: 24px;
}

#h hr {
	border: 1px white solid;
	width: 200px;
}

/* Separators - Parallax Section */
.sep {
	background-attachment: fixed;
	background-position: 50% 0;
	background-repeat: no-repeat;
	height: 550px;
	position: relative;
}
.s01 {
	background-image: url(../img/s01.png);
}

.s02 {
	background-image: url(../img/ridi/fingers.jpg);
}


#portfolio {
    position: relative;
    padding-top: 0px;
    padding-bottom: 0px;
    background: #f2f2f2;
}
.cbp-item-wrapper {
    background: #2f2f2f;
}
.cbp-item-wrapper a img {
    display: block;
    width: 100%;
    background-image: center center;
    height: auto;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.cbp-item-wrapper a:hover img {
    opacity: 0.8;
}

/* CTA SECTION */
#cta {
	background: url(../img/ridi/typewriter.jpg) no-repeat center top;
	background-color: #f2f2f2;
	padding-top: 150px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 600px;
	width: 100%;
	margin-top: 50px;
	color: white;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#cta h1 {
	color: white;
	font-size: 60px;
	font-weight: 100;
}

/* FOOTER */
#f {
	padding-bottom: 50px;
	padding-top: 50px;
	background: #2f2f2f;
	color: white;
}

/* OVERFLOW */

.of {
	overflow: hidden;
}