---
layout: default
title: "Blog"
---

<header class="intro-header ih-blog">
  <div class="site-heading blog-heading">
    <h1 data-effect="slide-top">

      Behind the<br>
      Screen

    </h1>
  </div>
  <div class="blog-sub-area">
    <h2 class="sub-heading">
      리디북스가 만들어지는 과정을 소개합니다
    </h2>
    <p class="sub-description sd-blog">
      리디북스는 여러 개발 블로그와 커뮤니티, 그리고 수많은 오픈소스의 도움으로 만들어졌습니다.<br class="clear-lg">
      이에 보답하고 우리 역시 보다 나은 개발 환경을 만들기 위하여,<br class="clear-lg">
      우리가 겪었던 다양한 문제들과 해결 과정 및 개발 문화를 공유하고자 합니다.
    </p>
  </div>
</header>

<div class="site-content">
  <style>
    .blog-slide-list {
      max-width: 900px;
      margin: 0 auto;
      text-align: center;
    }
    .blog-slide-list li {
      display: inline-block;
      width: 400px;
      margin: 20px;
      vertical-align: top;
    }
  </style>
  <ol id="slides" class="blog-slide-list">
    {% for slide in site.data.slides limit:6 %}
    <li>
      <div>
        <script async class="speakerdeck-embed" data-id="{{ slide.data-id }}" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>
      </div>
      <caption>{{ slide.title }}</caption>
      <caption>{{ slide.date }} by {{ slide.author }}</caption>
    </li>
    {% endfor %}
  </ol>

  <ol class="blog-post-list" id="Posts">
    <!-- This loops through the paginated posts -->
    {% for post in paginator.posts %}
    <li>
      <a href="{{ post.url }}" class="list-item">
        <div class="post-content">
          <div class="type type-{{ post.category }}">{{ post.category }}</div>
          <div class="title">{{ post.title }}</div>
          <div class="desc">{{ post.description }}</div>
        </div>
        <div class="post-meta">
          {% assign author = site.data.authors[post.author] %}
          <img src="//www.gravatar.com/avatar/{{ author.gravatar }}" alt="" class="profile-img">
          <div class="author">{{ author.name }}</div>
          <div class="date">{{ post.date | date: "%Y. %m. %d." }}</div>
        </div>
      </a>
    </li>
    {% endfor %}
  </ol>
</div>


<!-- Pagination links -->
<div class="pager">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}#Posts" class="page-button"><i class="icon-direct-left"></i> 이전</a>
  {% else %}
  {% endif %}
  
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}#Posts" class="page-button">다음 <i class="icon-direct-right"></i></a>
  {% else %}
  {% endif %}
</div>
