---
layout: blog
title: "Blog"
---

<div class="site-content">
  <div class="press-articles-area site-content">
    <div class="paa-tab">
      <em class="active" rel="article">Articles</em>
      <span class="separator">∙</span>
      <a href="/blog/slides">
        <em rel="material">Slides</em>
      </a>
    </div>
  </div>
  
  <ol class="blog-post-list" id="Posts">
    <!-- This loops through the paginated posts -->
    {% for post in paginator.posts %}
    <li>
      <a href="{{ post.url }}" class="list-item">
        <div class="post-content">
          <div class="type type-{{ post.category }}">{{ post.category }}</div>
          <div class="title">{{ post.title }}</div>
          <div class="desc">{{ post.description }}</div>
        </div>
        <div class="post-meta">
          {% assign author = site.data.authors[post.author] %}
          <img src="//www.gravatar.com/avatar/{{ author.gravatar }}" alt="" class="profile-img">
          <div class="author">{{ author.name }}</div>
          <div class="date">{{ post.date | date: "%Y. %m. %d." }}</div>
        </div>
      </a>
    </li>
    {% endfor %}
  </ol>
</div>


<!-- Pagination links -->
<div class="pager">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}#Posts" class="page-button"><i class="icon-direct-left"></i> 이전</a>
  {% else %}
  {% endif %}
  
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}#Posts" class="page-button">다음 <i class="icon-direct-right"></i></a>
  {% else %}
  {% endif %}
</div>
