---
layout: default
title: Press
fb-img: "img/fb-img-ridicorp.png"
---

<header class="intro-header ih-press">
    <div class="site-heading press-heading">
        <h1 data-effect="slide-top">

            Press<br>
            Information

        </h1>
    </div>
</header>

<div class="press-quick-links">
    <div class="pql-item">
        <img src="{{ 'site.baseurl }}/img/press-illust-introduction.png" alt="" class="pql-illust">
        <strong>회사소개서</strong>
        <span>리디주식회사 및<br>리디북스 소개 자료입니다.</span>
        <a href="/download/ridicorp_intro.pdf?v=201512">자세히 보기 <i class="icon-direct-right"></i></a>
    </div>
    <div class="pql-item">
        <img src="{{ 'site.baseurl }}/img/press-illust-brandguideline.png" alt="" class="pql-illust">
        <strong>브랜드 가이드라인</strong>
        <span>리디 로고를 쓰시려고요?<br>브랜드 가이드라인을 참고하세요.</span>
        <a href="{{ '/branding/' | prepend: site.baseurl }}">자세히 보기 <i class="icon-direct-right"></i></a>
    </div>
    <div class="pql-item">
        <img src="{{ 'site.baseurl }}/img/press-illust-photos.png" alt="" class="pql-illust">
        <strong>사진 자료실</strong>
        <span>리디북스 서비스 및 제품 관련<br>공식 이미지를 다운받을 수 있습니다.</span>
        <a href="{{ '/press-photos/' | prepend: site.baseurl }}">자세히 보기 <i class="icon-direct-right"></i></a>
    </div>
    <div class="clear"></div>
</div>


<!-- Press Articles -->
<div class="press-articles-area site-content">
    <div class="paa-tab">
        <em class="active" rel="tab1">보도자료</em>
        <span class="separator">∙</span>
        <em rel="tab2">언론보도</em>
    </div>
    <div class="tab-container">
        <!-- 보도자료 -->
        <ol class="articles-list tab-content" id="tab1">
            {% for post in site.categories.report_material %}
            <li>
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <span class="date">{{ post.date | date: "%Y. %m. %d. " }}</span>
                    <strong class="title">{{ post.title }}</strong>
                    <p>{{ post.description }}</p>
                </a>
                <figure></figure>
            </li>
            {% endfor %}
        </ol>

        {% if paginator.total_pages > 1 %}
        <div class="clear"></div>
        <div class="pager">
            {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="icon-direct-left"></i> 이전</a>
            {% endif %}
            {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">다음 <i class="icon-direct-right"></i></a>
            {% endif %}
        </div>
        {% endif %}

        
        <!-- 언론보도 -->
        <ol class="articles-list tab-content" id="tab2">
            {% for post in site.categories.media_report %}
            <li>
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <span class="date">{{ post.date | date: "%Y. %m. %d. " }}</span>
                    <strong class="title">{{ post.title }}</strong>
                    <p>{{ post.description }}</p>
                </a>
                <figure></figure>
            </li>
            {% endfor %}
        </ol>

        {% if paginator.total_pages > 1 %}
        <div class="clear"></div>
        <div class="pager">
            {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="icon-direct-left"></i> 이전</a>
            {% endif %}
            {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">다음 <i class="icon-direct-right"></i></a>
            {% endif %}
        </div>
        {% endif %}
    </div>
    <div class="clear"></div>
</div>

<!-- 소식지 -->
<div class="ridi-insights site-content">
    <div class="text-center">
        <h3>리디북스 소식지</h3>
    </div>
    <ul class="ri-list">
        <li>
            <a href="http://ridibooks.com/v2/Detail?id=111014081" target="_blank">
                <div class="book-thumbnail">
                    <div class="thumbnail-image">
                        <img src="http://misc.ridibooks.com/cover/111014081/xxlarge" alt="">
                        <span class="border"></span>
                    </div>
                </div>
                <strong>Vol. 3</strong>
                <span>2015. 10. 12.</span>
            </a>
        </li>
        <li>
            <a href="http://ridibooks.com/v2/Detail?id=111013974" target="_blank">
                <div class="book-thumbnail">
                    <div class="thumbnail-image">
                        <img src="http://misc.ridibooks.com/cover/111013974/xxlarge" alt="">
                        <span class="border"></span>
                    </div>
                </div>
                <strong>Vol. 2</strong>
                <span>2015. 10. 12.</span>
            </a>
        </li>
        <li>
            <a href="http://ridibooks.com/v2/Detail?id=111013833" target="_blank">
                <div class="book-thumbnail">
                    <div class="thumbnail-image">
                        <img src="http://misc.ridibooks.com/cover/111013833/xxlarge" alt="">
                        <span class="border"></span>
                    </div>
                </div>
                <strong>Vol. 1</strong>
                <span>2015. 10. 12.</span>
            </a>
        </li>
    </ul>
</div>

<script>
$(function() {

    $(".tab_content").hide();
    $(".tab_content:first").show();

    $(".paa-tab em").click(function () {
        $(".paa-tab em").removeClass("active");
        $(this).addClass("active");
        $(".tab-content").hide()
        var activeTab = $(this).attr("rel");
        $("#" + activeTab).fadeIn()
    });
});
</script>