---
layout: default
---

{% assign author = site.data.authors[page.author] %}

<!-- Post Header -->
<header class="intro-header post-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="header-container">
        <div class="post-heading">
            <h1>{{ page.title }}</h1>
            {% if page.subtitle %}
            <h2 class="subheading">{{ page.subtitle }}</h2>
            {% endif %}
            <span class="meta">Posted by <span class="author">{{ author.name }}</span><!--  on {{ page.date | date: "%B %-d, %Y" }} --></span>
        </div>
    </div>
</header>

<!-- Post Content -->
<article class="post">
    <div class="container">
        <div class="row">
            <div class="post-content">
				{{ content }}
            </div>
            <div class="post-meta">
                <div class="profile-img">
                    <img src="{{ author.email | get_gravatar }}" alt="">
                </div>
                <div class="author">{{ author.name }}</div>
                <div class="author-desc">“{{ author.profile-text }}”</div>
            </div>
        </div>
        <div class="button-area">
            <a href="{{ site.baseurl }}/blog" class="back"><i class="icon-direct-left"></i> 목록으로</a>
        </div>
    </div>
</article>

<hr>
