.intro-header {
  background-repeat: no-repeat;
  background-position: center top;
  background-color: @white;
  position: relative;
  z-index:1;

  .site-heading,
  .page-heading {
    max-width: 1160px;
    margin: auto;
    .back {
      display: inline-block;
      padding-bottom: 16px;
      color: @slategray-30;
      font-family: @Calibre;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 24px;
      transition: color .2s;
      .arrow-back {
        .svg_arrow(@slategray-30);
        width: 20px;
        height: 20px;
        margin-top: -6px;
        transform: rotate(90deg);
      }
      &:hover {
        color: @slategray-40;
        &>.arrow-download {
          .svg_arrow(@slategray-40);
        }
      }
    }
    .main-caption {
      font-family: @Calibre;
      font-weight: 600;
      font-size: 30px;
      color: @white;
      opacity: .5;
      display: block;
      padding-bottom: 12px;
      @media @queries_sm {
        font-size: 20px;
      }
    }

    h1 {
      margin: 0;
      text-align: left;
      font-size: 74px;
      font-weight: 700;
      color: @white;
      line-height: 1.4em;
      text-rendering: optimizeLegibility;
      word-break: keep-all;
      @media @queries_smmd {
        font-size: 55px
      }
    }
    .oneline {
      font-family: @Calibre;
      font-weight: 700;
      font-size: 110px;
      color: @jet-black;
      @media @queries_smmd {
        font-size: 80px;
        line-height: 1em;
      }
    }
    .page-dsc {
      font-size: 29px;
      line-height: 160%;
      color: @slategray-80;
      word-break: keep-all;
      @media @queries_smmd {
        font-size: 22px;
      }
    }
  }
}
